
.margin-a10 {
    margin: 1rem;
}

.margin-a20 {
    margin: 2rem;
}

.margin-a30 {
    margin: 3rem;
}

.margin-a40 {
    margin: 4rem;
}

.margin-a50 {
    margin: 5rem;
}


.margin-t10 {
    margin-top: 1rem;
}

.margin-r10 {
    margin-right: 1rem;
}

.margin-b10 {
    margin-bottom: 1rem;
}

.margin-l10 {
    margin-bottom: 1rem;
}


.margin-t20 {
    margin-top: 2rem;
}

.margin-r20 {
    margin-right: 2rem;
}

.margin-b20 {
    margin-bottom: 2rem;
}

.margin-l20 {
    margin-bottom: 2rem;
}


.margin-t30 {
    margin-top: 3rem;
}

.margin-r30 {
    margin-right: 3rem;
}

.margin-b30 {
    margin-bottom: 3rem;
}

.margin-l30 {
    margin-bottom: 3rem;
}


.margin-t40 {
    margin-top: 4rem;
}

.margin-r40 {
    margin-right: 4rem;
}

.margin-b40 {
    margin-bottom: 4rem;
}

.margin-l40 {
    margin-bottom: 4rem;
}