
@import '../../assets/styles/colors.scss';

.Ministry {

    .ministry__chart {
        width: 50%;
        margin: auto;;
    }

    .ministry__table {

        .table {
            margin: auto;
        }

    }

}